// input.ng-invalid.ng-touched {
//     border: red 1px solid;
// }

// input.ng-valid.ng-touched {
//     border: green 1px solid;
// }
.madatroy::after {
    content: "*";
    color: red;
    margin-left: 5px;
  }
.pricing-box.selected {
  background-color: #f2f2f2;
  border: 2px solid #13c56bd4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }