<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col">

                <div class="h-100">
                   

                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <!-- card -->
                            <div class="card card-animate">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Supplier</p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <h5 class="text-success fs-14 mb-0">
                                                <i class="ri-arrow-right-up-line fs-13 align-middle"></i> +16.24 %
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between mt-4">
                                        <div>
                                            <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="183.35">670</span></h4>
                                          
                                        </div>
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-warning rounded fs-3">
                                                <i class="bx bx-user-circle"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->

                        <div class="col-xl-3 col-md-6">
                            <!-- card -->
                            <div class="card card-animate">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Recons</p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <h5 class="text-danger fs-14 mb-0">
                                                <i class="ri-arrow-right-down-line fs-13 align-middle"></i> -3.57 %
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between mt-4">
                                        <div>
                                            <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="183.35">1420</span>M </h4>
                                            
                                        </div>
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-warning rounded fs-3">
                                                <i class="bx bx-user-circle"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->

                        <div class="col-xl-3 col-md-6">
                            <!-- card -->
                            <div class="card card-animate">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <p class="text-uppercase fw-medium text-muted text-truncate mb-0">Finished Recon</p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <h5 class="text-success fs-14 mb-0">
                                                <i class="ri-arrow-right-up-line fs-13 align-middle"></i> +29.08 %
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between mt-4">
                                        <div>
                                            <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="183.35">110</span> </h4>
                                            
                                        </div>
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-warning rounded fs-3">
                                                <i class="bx bx-user-circle"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->

                        <div class="col-xl-3 col-md-6">
                            <!-- card -->
                            <div class="card card-animate">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Pending Recons</p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <h5 class="text-muted fs-14 mb-0">
                                                +0.00 %
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between mt-4">
                                        <div>
                                            <h4 class="fs-22 fw-semibold ff-secondary mb-4"><span class="counter-value" data-target="165.89">1510</span>k </h4>
                                            
                                        </div>
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-danger rounded fs-3">
                                                <i class="bx bx-wallet"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->
                    </div> <!-- end row-->

              

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card chart-container">
                                <canvas  id="MyChart" style="max-height:300px" >{{ chart }}</canvas>
                          <h5>Supplier Wise Status</h5>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card chart-container">
                                <canvas  id="MyChart2" style="max-height:300px" >{{ chart2 }}</canvas>
                                <h5>Recon Status</h5>

                          </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Supplier Wise Pending</h4>
                                    <div class="flex-shrink-0">
                                        <div class="dropdown card-header-dropdown">
                                            <a class="text-reset dropdown-btn"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="fw-semibold text-uppercase fs-12">Sort by:
                                                </span><span class="text-muted">Today<i class="mdi mdi-chevron-down ms-1"></i></span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" >Today</a>
                                                <a class="dropdown-item" >Yesterday</a>
                                                <a class="dropdown-item" >Last 7 Days</a>
                                                <a class="dropdown-item" >Last 30 Days</a>
                                                <a class="dropdown-item" >This Month</a>
                                                <a class="dropdown-item" >Last Month</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <div class="table-responsive table-card">
                                        <table class="table table-hover table-centered align-middle table-nowrap mb-0">
                                            <thead class="text-muted table-light">
                                                <tr>
                                                    <th scope="col">Supplier</th>
                                                    <th scope="col">City</th>
                                                    <th scope="col">GSTIN</th>
                                                    <th scope="col">Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">109</span>
                                                    </td>
                                                    <td>Pune</td>
                                                    <td>
                                                        <span class="badge badge-soft-success">Paid</span>
                                                    </td>
                                                   
                                                </tr><!-- end tr -->
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">109</span>
                                                    </td>
                                                    <td>Pune</td>
                                                    <td>
                                                        <span class="badge badge-soft-success">Paid</span>
                                                    </td>
                                                   
                                                </tr>  <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">109</span>
                                                    </td>
                                                    <td>Pune</td>
                                                    <td>
                                                        <span class="badge badge-soft-success">Paid</span>
                                                    </td>
                                                   
                                                </tr>  <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">109</span>
                                                    </td>
                                                    <td>Pune</td>
                                                    <td>
                                                        <span class="badge badge-soft-success">Paid</span>
                                                    </td>
                                                   
                                                </tr>  <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">109</span>
                                                    </td>
                                                    <td>Pune</td>
                                                    <td>
                                                        <span class="badge badge-soft-success">Paid</span>
                                                    </td>
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="align-items-center mt-4 pt-2 justify-content-between row text-center text-sm-start">
                                        <div class="col-sm">
                                            <div class="text-muted">
                                                Showing <span class="fw-semibold">5</span> of <span class="fw-semibold">25</span> Results
                                            </div>
                                        </div>
                                        <div class="col-sm-auto  mt-3 mt-sm-0">
                                            <ul class="pagination pagination-separated pagination-sm mb-0 justify-content-center">
                                                <li class="page-item disabled">
                                                    <a  class="page-link">←</a>
                                                </li>
                                                <li class="page-item">
                                                    <a  class="page-link">1</a>
                                                </li>
                                                <li class="page-item active">
                                                    <a  class="page-link">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a  class="page-link">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a  class="page-link">→</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="card card-height-100">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1"> Recon Wise Pending</h4>
                                    <div class="flex-shrink-0">
                                        <div class="dropdown card-header-dropdown">
                                            <a class="text-reset dropdown-btn"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="text-muted">Report<i class="mdi mdi-chevron-down ms-1"></i></span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" >Download Report</a>
                                                <a class="dropdown-item" >Export</a>
                                                <a class="dropdown-item" >Import</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <div class="table-responsive table-card">
                                        <table class="table table-hover table-centered align-middle table-nowrap mb-0">
                                            <thead class="text-muted table-light">
                                                <tr>
                                                  
                                                    <th scope="col">GSTIN</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Count </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">08AAKCP3409M1Z1</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-soft-success">P S  Pvt. Ltd</span>
                                                    </td>
                                                   
                                                </tr>
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">08AAKCP3409M1Z1</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-soft-success">P S  Pvt. Ltd</span>
                                                    </td>
                                                   
                                                </tr>
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">08AAKCP3409M1Z1</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-soft-success">P S  Pvt. Ltd</span>
                                                    </td>
                                                   
                                                </tr>
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">08AAKCP3409M1Z1</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-soft-success">P S  Pvt. Ltd</span>
                                                    </td>
                                                   
                                                </tr>
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">08AAKCP3409M1Z1</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-soft-success">P S  Pvt. Ltd</span>
                                                    </td>
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="align-items-center mt-4 pt-2 justify-content-between row text-center text-sm-start">
                                        <div class="col-sm">
                                            <div class="text-muted">
                                                Showing <span class="fw-semibold">5</span> of <span class="fw-semibold">25</span> Results
                                            </div>
                                        </div>
                                        <div class="col-sm-auto  mt-3 mt-sm-0">
                                            <ul class="pagination pagination-separated pagination-sm mb-0 justify-content-center">
                                                <li class="page-item disabled">
                                                    <a  class="page-link">←</a>
                                                </li>
                                                <li class="page-item">
                                                    <a  class="page-link">1</a>
                                                </li>
                                                <li class="page-item active">
                                                    <a  class="page-link">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a  class="page-link">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a  class="page-link">→</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div> <!-- .card-->
                        </div> <!-- .col-->
                    </div> <!-- end row-->

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Supplier Wise Mismatch</h4>
                                    <div class="flex-shrink-0">
                                        <div class="dropdown card-header-dropdown">
                                            <a class="text-reset dropdown-btn"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="fw-semibold text-uppercase fs-12">Sort by:
                                                </span><span class="text-muted">Today<i class="mdi mdi-chevron-down ms-1"></i></span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" >Today</a>
                                                <a class="dropdown-item" >Yesterday</a>
                                                <a class="dropdown-item" >Last 7 Days</a>
                                                <a class="dropdown-item" >Last 30 Days</a>
                                                <a class="dropdown-item" >This Month</a>
                                                <a class="dropdown-item" >Last Month</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <div class="table-responsive table-card">
                                        <table class="table table-hover table-centered align-middle table-nowrap mb-0">
                                            <thead class="text-muted table-light">
                                                <tr>
                                                    <th scope="col">Supplier</th>
                                                    
                                                    <th scope="col">City</th>
                                                    <th scope="col">GSTIN</th>
                                                    <th scope="col">Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">109</span>
                                                    </td>
                                                    <td>Pune</td>
                                                    <td>
                                                        <span class="badge badge-soft-success">Paid</span>
                                                    </td>
                                                   
                                                </tr><!-- end tr -->
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">109</span>
                                                    </td>
                                                    <td>Pune</td>
                                                    <td>
                                                        <span class="badge badge-soft-success">Paid</span>
                                                    </td>
                                                   
                                                </tr>  <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">109</span>
                                                    </td>
                                                    <td>Pune</td>
                                                    <td>
                                                        <span class="badge badge-soft-success">Paid</span>
                                                    </td>
                                                   
                                                </tr>  <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">109</span>
                                                    </td>
                                                    <td>Pune</td>
                                                    <td>
                                                        <span class="badge badge-soft-success">Paid</span>
                                                    </td>
                                                   
                                                </tr>  <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">109</span>
                                                    </td>
                                                    <td>Pune</td>
                                                    <td>
                                                        <span class="badge badge-soft-success">Paid</span>
                                                    </td>
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="align-items-center mt-4 pt-2 justify-content-between row text-center text-sm-start">
                                        <div class="col-sm">
                                            <div class="text-muted">
                                                Showing <span class="fw-semibold">5</span> of <span class="fw-semibold">25</span> Results
                                            </div>
                                        </div>
                                        <div class="col-sm-auto  mt-3 mt-sm-0">
                                            <ul class="pagination pagination-separated pagination-sm mb-0 justify-content-center">
                                                <li class="page-item disabled">
                                                    <a  class="page-link">←</a>
                                                </li>
                                                <li class="page-item">
                                                    <a  class="page-link">1</a>
                                                </li>
                                                <li class="page-item active">
                                                    <a  class="page-link">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a  class="page-link">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a  class="page-link">→</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="card card-height-100">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Recon Wise Mismatch</h4>
                                    <div class="flex-shrink-0">
                                        <div class="dropdown card-header-dropdown">
                                            <a class="text-reset dropdown-btn"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="text-muted">Report<i class="mdi mdi-chevron-down ms-1"></i></span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" >Download Report</a>
                                                <a class="dropdown-item" >Export</a>
                                                <a class="dropdown-item" >Import</a>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <div class="table-responsive table-card">
                                        <table class="table table-hover table-centered align-middle table-nowrap mb-0">
                                            <thead class="text-muted table-light">
                                                <tr>
                                                  
                                                    <th scope="col">GSTIN</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Count </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">08AAKCP3409M1Z1</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-soft-success">P S  Pvt. Ltd</span>
                                                    </td>
                                                   
                                                </tr>
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">08AAKCP3409M1Z1</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-soft-success">P S  Pvt. Ltd</span>
                                                    </td>
                                                   
                                                </tr>
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">08AAKCP3409M1Z1</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-soft-success">P S  Pvt. Ltd</span>
                                                    </td>
                                                   
                                                </tr>
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">08AAKCP3409M1Z1</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-soft-success">P S  Pvt. Ltd</span>
                                                    </td>
                                                   
                                                </tr>
                                                <tr>
                                                 
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0 me-2">
                                                                <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle shadow">
                                                            </div>
                                                            <div class="flex-grow-1">Alex Smith</div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <span class="text-success">08AAKCP3409M1Z1</span>
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-soft-success">P S  Pvt. Ltd</span>
                                                    </td>
                                                   
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="align-items-center mt-4 pt-2 justify-content-between row text-center text-sm-start">
                                        <div class="col-sm">
                                            <div class="text-muted">
                                                Showing <span class="fw-semibold">5</span> of <span class="fw-semibold">25</span> Results
                                            </div>
                                        </div>
                                        <div class="col-sm-auto  mt-3 mt-sm-0">
                                            <ul class="pagination pagination-separated pagination-sm mb-0 justify-content-center">
                                                <li class="page-item disabled">
                                                    <a  class="page-link">←</a>
                                                </li>
                                                <li class="page-item">
                                                    <a  class="page-link">1</a>
                                                </li>
                                                <li class="page-item active">
                                                    <a  class="page-link">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a  class="page-link">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a  class="page-link">→</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div> <!-- .card-->
                        </div> <!-- .col-->
                    </div> <!-- end row-->

                </div> <!-- end .h-100-->

            </div> <!-- end col -->

        </div>

    </div>
    <!-- container-fluid -->
</div>