<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Subscriptions </h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">     <li class="breadcrumb-item"><a href="javascript: void(0);">Profile</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Subscriptions</a></li>
                  
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h6 class="card-title mb-0 flex-grow-1"> Subscriptions</h6>
                            <div class="flex-shrink-0">
                                <button class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#CreateSubscriptionsModal"><i
                                        class="ri-add-line align-bottom me-1"></i> Buy New Subscription</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xxl-9">
                <div id="Subscriptions-list">
                    <div class="card Subscriptionslist-card">
                        <div class="card-body">
                            <div class="d-flex mb-4">
                                <div class="avatar-sm">
                                    <div class="avatar-title bg-light rounded"> <img
                                            src="assets/images/companies/img-7.png" alt=""
                                            class="avatar-xxs companyLogo-img"> </div>
                                </div>
                                <div class="ms-3 flex-grow-1"> <img src="assets/images/small/img-8.jpg" alt=""
                                        class="d-none cover-img"> <a href="#!">
                                        <h5 class="Subscriptions-title">Gold</h5>
                                    </a>
                                    <p class="company-name text-muted mb-0">Themesbrand</p>
                                </div>
                                <div> <button type="button" class="btn btn-ghost-primary btn-icon custom-toggle"
                                        data-bs-toggle="button"> <span class="icon-on"><i
                                                class="ri-bookmark-line"></i></span> <span class="icon-off"><i
                                                class="ri-bookmark-fill"></i></span> </button> </div>
                            </div>
                            <p class="text-muted Subscriptions-description">A UI/UX designer's Subscriptions is to
                                create user-friendly interfaces that enable users to understand how to use complex
                                technical products. If you're passionate about the latest technology trends and devices,
                                you'll find great fulfillment in being involved in the design process for the next hot
                                gadget.</p>
                            <div></div>
                        </div>
                        <div class="card-footer border-top-dashed">
                            <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                                <div><i class="ri-time-line align-bottom me-1"></i> <span
                                        class="Subscriptions-type">
                                        Subscribed On 15/01/2021</span></div>
                                <div class="d-none"><span class="Subscriptions-experience">Expires On 15/02/2022</span>
                                </div>
                                <div><i class="ri-time-line align-bottom me-1"></i> <span
                                        class="Subscriptions-location">Expires On 15/02/2022</span></div>
                                        <div><i class="ri-time-line align-bottom me-1"></i> <span
                                            class="Subscriptions-location"> Price 2,000</span></div>
                                <div><a href="#!" class="btn btn-primary viewSubscriptions-list">View More <i
                                            class="ri-arrow-right-line align-bottom ms-1"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="card Subscriptionslist-card">
                        <div class="card-body">
                            <div class="d-flex mb-4">
                                <div class="avatar-sm">
                                    <div class="avatar-title bg-light rounded"> <img
                                            src="assets/images/companies/img-6.png" alt=""
                                            class="avatar-xxs companyLogo-img"> </div>
                                </div>
                                <div class="ms-3 flex-grow-1"> <img src="assets/images/small/img-3.jpg" alt=""
                                        class="d-none cover-img"> <a href="#!">
                                        <h5 class="Subscriptions-title">Platinum</h5>
                                    </a>
                                    <p class="company-name text-muted mb-0">Syntyce Solutions</p>
                                </div>
                                <div> <button type="button" class="btn btn-ghost-primary btn-icon custom-toggle"
                                        data-bs-toggle="button"> <span class="icon-on"><i
                                                class="ri-bookmark-line"></i></span> <span class="icon-off"><i
                                                class="ri-bookmark-fill"></i></span> </button> </div>
                            </div>
                            <p class="text-muted Subscriptions-description">In a free hour, when our power of choice is
                                untrammelled and when nothing prevents our being able to do what we like best. But in
                                certain circumstances and owing to the claims of duty or the obligations of business it
                                will frequently occur that pleasures have to be repudiated.</p>
                            <div></div>
                        </div>
                        <div class="card-footer border-top-dashed">
                            <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                                <div><i class="ri-time-line align-bottom me-1"></i> <span
                                        class="Subscriptions-type"> Subscribed On 15/01/2021</span></div>
                                <div class="d-none"><span class="Subscriptions-experience">1 Year</span></div>
                                <div><i class="ri-map-pin-2-line align-bottom me-1"></i> <span
                                        class="Subscriptions-location"> Expired On 15/01/2021</span></div>
                                        <div><i class="ri-time-line align-bottom me-1"></i> <span
                                            class="Subscriptions-location"> Price 2,000</span></div>
                                <div><a href="#!" class="btn btn-primary viewSubscriptions-list">View More <i
                                            class="ri-arrow-right-line align-bottom ms-1"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="card Subscriptionslist-card">
                        <div class="card-body">
                            <div class="d-flex mb-4">
                                <div class="avatar-sm">
                                    <div class="avatar-title bg-light rounded"> <img
                                            src="assets/images/companies/img-5.png" alt=""
                                            class="avatar-xxs companyLogo-img"> </div>
                                </div>
                                <div class="ms-3 flex-grow-1"> <img src="assets/images/small/img-7.jpg" alt=""
                                        class="d-none cover-img"> <a href="#!">
                                        <h5 class="Subscriptions-title">Silver</h5>
                                    </a>
                                    <p class="company-name text-muted mb-0">Digitech Galaxy</p>
                                </div>
                                <div> <button type="button" class="btn btn-ghost-primary btn-icon custom-toggle"
                                        data-bs-toggle="button"> <span class="icon-on"><i
                                                class="ri-bookmark-line"></i></span> <span class="icon-off"><i
                                                class="ri-bookmark-fill"></i></span> </button> </div>
                            </div>
                            <p class="text-muted Subscriptions-description">Sed ut perspiciatis unde omnis iste natus
                                error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                            <div></div>
                        </div>
                        <div class="card-footer border-top-dashed">
                            <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                                <div><i class="ri-time-line align-bottom me-1"></i> <span
                                        class="Subscriptions-type">Subscribed On 15/01/2021</span></div>
                                <div class="d-none"><span class="Subscriptions-experience">0 - 5 Year</span></div>
                                <div><i class="ri-time-line align-bottom me-1"></i> <span
                                        class="Subscriptions-location"> Expired On 15/01/2021</span></div>
                                        <div><i class="ri-time-line align-bottom me-1"></i> <span
                                            class="Subscriptions-location"> Price 2,000</span></div>
                                  
                                <div><a href="#!" class="btn btn-primary viewSubscriptions-list">View More <i
                                            class="ri-arrow-right-line align-bottom ms-1"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row g-0 justify-content-end mb-4" id="pagination-element">
              
                    <div class="col-sm-6">
                        <div
                            class="pagination-block pagination pagination-separated justify-content-center justify-content-sm-end mb-sm-0">
                            <div class="page-item disabled">
                                <a href="javascript:void(0);" class="page-link" id="page-prev">Previous</a>
                            </div>
                            <span id="page-num" class="pagination">
                                <div class="page-item active"><a class="page-link clickPageNumber"
                                        href="javascript:void(0);">1</a></div>
                                <div class="page-item"><a class="page-link clickPageNumber"
                                        href="javascript:void(0);">2</a></div>
                            </span>
                            <div class="page-item">
                                <a href="javascript:void(0);" class="page-link" id="page-next">Next</a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- end row -->

            </div><!--end col-->
            <!-- <div class="col-xxl-3">
                <div class="card Subscriptions-list-view-card overflow-hidden" id="Subscriptions-overview">
                    <img src="assets/images/small/img-10.jpg" alt="" id="cover-img"
                        class="img-fluid background object-cover">
                    <div class="card-body">
                        <div class="avatar-md mt-n5">
                            <div class="avatar-title bg-light rounded-circle">
                                <img src="assets/images/companies/img-7.png" alt="" class="avatar-xs view-companylogo">
                            </div>
                        </div>
                        <div class="mt-3">
                            <h5 class="view-title fw-semibold fs-17">Gold</h5>
                            <div class="hstack gap-3 mb-3">
                                <span class="text-muted"><i class="ri-building-line me-1 align-bottom"></i> <span
                                        class="view-companyname">Themesbrand</span></span>
                                <span class="text-muted"><i class="ri-map-pin-2-line me-1 align-bottom"></i> <span
                                        class="view-location">Expires On 15/02/2022</span></span>
                            </div>
                            <p class="text-muted view-desc">A UI/UX designer's Subscriptions is to create user-friendly
                                interfaces that enable users to understand how to use complex technical products. If
                                you're passionate about the latest technology trends and devices, you'll find great
                                fulfillment in being involved in the design process for the next hot gadget.</p>
                            <div class="py-3 border border-dashed border-start-0 border-end-0 mt-4">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-6">
                                        <div>
                                            <p class="mb-2 text-uppercase fw-medium fs-12 text-muted">Subscriptions Type
                                            </p>
                                            <h5 class="fs-14 mb-0 view-type">Subscribed On 15/01/2021
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div>
                                            <p class="mb-2 text-uppercase fw-medium fs-12 text-muted">Post Date</p>
                                            <h5 class="fs-14 mb-0 view-postdate">Expires On 15/02/20222</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <div>
                                            <p class="mb-2 text-uppercase fw-medium fs-12 text-muted">Experience</p>
                                            <h5 class="fs-14 mb-0 view-experience">0 - 5 Year</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <h5 class="mb-3 fw-semibold fs-17">Application Summary</h5>

                            <div>
                                <div id="simple_dount_chart"
                                    data-colors="[&quot;--vz-primary&quot;, &quot;--vz-info&quot;, &quot;--vz-danger&quot;]"
                                    class="apex-charts" dir="ltr" style="min-height: 267.919px;">
                                    <div id="apexchartsa8nyc0th"
                                        class="apexcharts-canvas apexchartsa8nyc0th apexcharts-theme-light"
                                        style="width: 270px; height: 267.919px;"><svg id="SvgjsSvg1001" width="270"
                                            height="267.91875" xmlns="http://www.w3.org/2000/svg" version="1.1"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"
                                            class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                            style="background: transparent;">
                                            <foreignObject x="0" y="0" width="270" height="267.91875">
                                                <div class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom"
                                                    xmlns="http://www.w3.org/1999/xhtml"
                                                    style="inset: auto 0px 1px; position: absolute; max-height: 150px;">
                                                    <div class="apexcharts-legend-series" rel="1"
                                                        seriesname="NewxApplication" data:collapsed="false"
                                                        style="margin: 2px 5px;"><span class="apexcharts-legend-marker"
                                                            rel="1" data:collapsed="false"
                                                            style="background: rgb(75, 56, 179) !important; color: rgb(75, 56, 179); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span
                                                            class="apexcharts-legend-text" rel="1" i="0"
                                                            data:default-text="New%20Application" data:collapsed="false"
                                                            style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">New
                                                            Application</span></div>
                                                    <div class="apexcharts-legend-series" rel="2" seriesname="Approved"
                                                        data:collapsed="false" style="margin: 2px 5px;"><span
                                                            class="apexcharts-legend-marker" rel="2"
                                                            data:collapsed="false"
                                                            style="background: rgb(41, 156, 219) !important; color: rgb(41, 156, 219); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span
                                                            class="apexcharts-legend-text" rel="2" i="1"
                                                            data:default-text="Approved" data:collapsed="false"
                                                            style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Approved</span>
                                                    </div>
                                                    <div class="apexcharts-legend-series" rel="3" seriesname="Rejected"
                                                        data:collapsed="false" style="margin: 2px 5px;"><span
                                                            class="apexcharts-legend-marker" rel="3"
                                                            data:collapsed="false"
                                                            style="background: rgb(240, 101, 72) !important; color: rgb(240, 101, 72); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span
                                                            class="apexcharts-legend-text" rel="3" i="2"
                                                            data:default-text="Rejected" data:collapsed="false"
                                                            style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Rejected</span>
                                                    </div>
                                                </div>
                                                <style type="text/css">
                                                    .apexcharts-legend {
                                                        display: flex;
                                                        overflow: auto;
                                                        padding: 0 10px;
                                                    }

                                                    .apexcharts-legend.apx-legend-position-bottom,
                                                    .apexcharts-legend.apx-legend-position-top {
                                                        flex-wrap: wrap
                                                    }

                                                    .apexcharts-legend.apx-legend-position-right,
                                                    .apexcharts-legend.apx-legend-position-left {
                                                        flex-direction: column;
                                                        bottom: 0;
                                                    }

                                                    .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left,
                                                    .apexcharts-legend.apx-legend-position-top.apexcharts-align-left,
                                                    .apexcharts-legend.apx-legend-position-right,
                                                    .apexcharts-legend.apx-legend-position-left {
                                                        justify-content: flex-start;
                                                    }

                                                    .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center,
                                                    .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
                                                        justify-content: center;
                                                    }

                                                    .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right,
                                                    .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
                                                        justify-content: flex-end;
                                                    }

                                                    .apexcharts-legend-series {
                                                        cursor: pointer;
                                                        line-height: normal;
                                                    }

                                                    .apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series,
                                                    .apexcharts-legend.apx-legend-position-top .apexcharts-legend-series {
                                                        display: flex;
                                                        align-items: center;
                                                    }

                                                    .apexcharts-legend-text {
                                                        position: relative;
                                                        font-size: 14px;
                                                    }

                                                    .apexcharts-legend-text *,
                                                    .apexcharts-legend-marker * {
                                                        pointer-events: none;
                                                    }

                                                    .apexcharts-legend-marker {
                                                        position: relative;
                                                        display: inline-block;
                                                        cursor: pointer;
                                                        margin-right: 3px;
                                                        border-style: solid;
                                                    }

                                                    .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series,
                                                    .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series {
                                                        display: inline-block;
                                                    }

                                                    .apexcharts-legend-series.apexcharts-no-click {
                                                        cursor: auto;
                                                    }

                                                    .apexcharts-legend .apexcharts-hidden-zero-series,
                                                    .apexcharts-legend .apexcharts-hidden-null-series {
                                                        display: none !important;
                                                    }

                                                    .apexcharts-inactive-legend {
                                                        opacity: 0.45;
                                                    }
                                                </style>
                                            </foreignObject>
                                            <g id="SvgjsG1003" class="apexcharts-inner apexcharts-graphical"
                                                transform="translate(12, 0)">
                                                <defs id="SvgjsDefs1002">
                                                    <clipPath id="gridRectMaska8nyc0th">
                                                        <rect id="SvgjsRect1005" width="254" height="218" x="-3" y="-1"
                                                            rx="0" ry="0" opacity="1" stroke-width="0" stroke="none"
                                                            stroke-dasharray="0" fill="#fff"></rect>
                                                    </clipPath>
                                                    <clipPath id="forecastMaska8nyc0th"></clipPath>
                                                    <clipPath id="nonForecastMaska8nyc0th"></clipPath>
                                                    <clipPath id="gridRectMarkerMaska8nyc0th">
                                                        <rect id="SvgjsRect1006" width="252" height="220" x="-2" y="-2"
                                                            rx="0" ry="0" opacity="1" stroke-width="0" stroke="none"
                                                            stroke-dasharray="0" fill="#fff"></rect>
                                                    </clipPath>
                                                </defs>
                                                <g id="SvgjsG1007" class="apexcharts-pie">
                                                    <g id="SvgjsG1008" transform="translate(0, 0) scale(1)">
                                                        <circle id="SvgjsCircle1009" r="64.58780487804879" cx="124"
                                                            cy="108" fill="transparent"></circle>
                                                        <g id="SvgjsG1010" class="apexcharts-slices">
                                                            <g id="SvgjsG1011"
                                                                class="apexcharts-series apexcharts-pie-series"
                                                                seriesName="NewxApplication" rel="1" data:realIndex="0">
                                                                <path id="SvgjsPath1012"
                                                                    d="M 124 8.634146341463406 A 99.3658536585366 99.3658536585366 0 0 1 124 207.3658536585366 L 124 172.5878048780488 A 64.58780487804879 64.58780487804879 0 0 0 124 43.412195121951214 L 124 8.634146341463406 z"
                                                                    fill="rgba(75,56,179,1)" fill-opacity="1"
                                                                    stroke-opacity="1" stroke-linecap="butt"
                                                                    stroke-width="2" stroke-dasharray="0"
                                                                    class="apexcharts-pie-area apexcharts-donut-slice-0"
                                                                    index="0" j="0" data:angle="180" data:startAngle="0"
                                                                    data:strokeWidth="2" data:value="98"
                                                                    data:pathOrig="M 124 8.634146341463406 A 99.3658536585366 99.3658536585366 0 0 1 124 207.3658536585366 L 124 172.5878048780488 A 64.58780487804879 64.58780487804879 0 0 0 124 43.412195121951214 L 124 8.634146341463406 z"
                                                                    stroke="#ffffff"></path>
                                                            </g>
                                                            <g id="SvgjsG1015"
                                                                class="apexcharts-series apexcharts-pie-series"
                                                                seriesName="Approved" rel="2" data:realIndex="1">
                                                                <path id="SvgjsPath1016"
                                                                    d="M 124 207.3658536585366 A 99.3658536585366 99.3658536585366 0 0 1 34.47445932111083 64.88677187402607 L 65.80839855872205 79.97640171811693 A 64.58780487804879 64.58780487804879 0 0 0 124 172.5878048780488 L 124 207.3658536585366 z"
                                                                    fill="rgba(41,156,219,1)" fill-opacity="1"
                                                                    stroke-opacity="1" stroke-linecap="butt"
                                                                    stroke-width="2" stroke-dasharray="0"
                                                                    class="apexcharts-pie-area apexcharts-donut-slice-1"
                                                                    index="0" j="1" data:angle="115.71428571428572"
                                                                    data:startAngle="180" data:strokeWidth="2"
                                                                    data:value="63"
                                                                    data:pathOrig="M 124 207.3658536585366 A 99.3658536585366 99.3658536585366 0 0 1 34.47445932111083 64.88677187402607 L 65.80839855872205 79.97640171811693 A 64.58780487804879 64.58780487804879 0 0 0 124 172.5878048780488 L 124 207.3658536585366 z"
                                                                    stroke="#ffffff"></path>
                                                            </g>
                                                            <g id="SvgjsG1019"
                                                                class="apexcharts-series apexcharts-pie-series"
                                                                seriesName="Rejected" rel="3" data:realIndex="2">
                                                                <path id="SvgjsPath1020"
                                                                    d="M 34.47445932111083 64.88677187402607 A 99.3658536585366 99.3658536585366 0 0 1 123.98265738698407 8.634147854891893 L 123.98872730153964 43.412196105679726 A 64.58780487804879 64.58780487804879 0 0 0 65.80839855872205 79.97640171811693 L 34.47445932111083 64.88677187402607 z"
                                                                    fill="rgba(240,101,72,1)" fill-opacity="1"
                                                                    stroke-opacity="1" stroke-linecap="butt"
                                                                    stroke-width="2" stroke-dasharray="0"
                                                                    class="apexcharts-pie-area apexcharts-donut-slice-2"
                                                                    index="0" j="2" data:angle="64.28571428571428"
                                                                    data:startAngle="295.7142857142857"
                                                                    data:strokeWidth="2" data:value="35"
                                                                    data:pathOrig="M 34.47445932111083 64.88677187402607 A 99.3658536585366 99.3658536585366 0 0 1 123.98265738698407 8.634147854891893 L 123.98872730153964 43.412196105679726 A 64.58780487804879 64.58780487804879 0 0 0 65.80839855872205 79.97640171811693 L 34.47445932111083 64.88677187402607 z"
                                                                    stroke="#ffffff"></path>
                                                            </g>
                                                            <g id="SvgjsG1013" class="apexcharts-datalabels"><text
                                                                    id="SvgjsText1014"
                                                                    font-family="Helvetica, Arial, sans-serif"
                                                                    x="205.9768292682927" y="108" text-anchor="middle"
                                                                    dominant-baseline="auto" font-size="12px"
                                                                    font-weight="600" fill="#ffffff"
                                                                    class="apexcharts-text apexcharts-pie-label"
                                                                    style="font-family: Helvetica, Arial, sans-serif;">50.0%</text>
                                                            </g>
                                                            <g id="SvgjsG1017" class="apexcharts-datalabels"><text
                                                                    id="SvgjsText1018"
                                                                    font-family="Helvetica, Arial, sans-serif"
                                                                    x="54.58823488253111" y="151.614302701753"
                                                                    text-anchor="middle" dominant-baseline="auto"
                                                                    font-size="12px" font-weight="600" fill="#ffffff"
                                                                    class="apexcharts-text apexcharts-pie-label"
                                                                    style="font-family: Helvetica, Arial, sans-serif;">32.1%</text>
                                                            </g>
                                                            <g id="SvgjsG1021" class="apexcharts-datalabels"><text
                                                                    id="SvgjsText1022"
                                                                    font-family="Helvetica, Arial, sans-serif"
                                                                    x="80.38569729824707" y="38.58823488253107"
                                                                    text-anchor="middle" dominant-baseline="auto"
                                                                    font-size="12px" font-weight="600" fill="#ffffff"
                                                                    class="apexcharts-text apexcharts-pie-label"
                                                                    style="font-family: Helvetica, Arial, sans-serif;">17.9%</text>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                                <line id="SvgjsLine1023" x1="0" y1="0" x2="248" y2="0" stroke="#b6b6b6"
                                                    stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"
                                                    class="apexcharts-ycrosshairs"></line>
                                                <line id="SvgjsLine1024" x1="0" y1="0" x2="248" y2="0"
                                                    stroke-dasharray="0" stroke-width="0" stroke-linecap="butt"
                                                    class="apexcharts-ycrosshairs-hidden"></line>
                                            </g>
                                            <g id="SvgjsG1004" class="apexcharts-annotations"></g>
                                        </svg>
                                        <div class="apexcharts-tooltip apexcharts-theme-dark">
                                            <div class="apexcharts-tooltip-series-group" style="order: 1;"><span
                                                    class="apexcharts-tooltip-marker"
                                                    style="background-color: rgb(75, 56, 179);"></span>
                                                <div class="apexcharts-tooltip-text"
                                                    style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                                    <div class="apexcharts-tooltip-y-group"><span
                                                            class="apexcharts-tooltip-text-y-label"></span><span
                                                            class="apexcharts-tooltip-text-y-value"></span></div>
                                                    <div class="apexcharts-tooltip-goals-group"><span
                                                            class="apexcharts-tooltip-text-goals-label"></span><span
                                                            class="apexcharts-tooltip-text-goals-value"></span></div>
                                                    <div class="apexcharts-tooltip-z-group"><span
                                                            class="apexcharts-tooltip-text-z-label"></span><span
                                                            class="apexcharts-tooltip-text-z-value"></span></div>
                                                </div>
                                            </div>
                                            <div class="apexcharts-tooltip-series-group" style="order: 2;"><span
                                                    class="apexcharts-tooltip-marker"
                                                    style="background-color: rgb(41, 156, 219);"></span>
                                                <div class="apexcharts-tooltip-text"
                                                    style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                                    <div class="apexcharts-tooltip-y-group"><span
                                                            class="apexcharts-tooltip-text-y-label"></span><span
                                                            class="apexcharts-tooltip-text-y-value"></span></div>
                                                    <div class="apexcharts-tooltip-goals-group"><span
                                                            class="apexcharts-tooltip-text-goals-label"></span><span
                                                            class="apexcharts-tooltip-text-goals-value"></span></div>
                                                    <div class="apexcharts-tooltip-z-group"><span
                                                            class="apexcharts-tooltip-text-z-label"></span><span
                                                            class="apexcharts-tooltip-text-z-value"></span></div>
                                                </div>
                                            </div>
                                            <div class="apexcharts-tooltip-series-group" style="order: 3;"><span
                                                    class="apexcharts-tooltip-marker"
                                                    style="background-color: rgb(240, 101, 72);"></span>
                                                <div class="apexcharts-tooltip-text"
                                                    style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                                    <div class="apexcharts-tooltip-y-group"><span
                                                            class="apexcharts-tooltip-text-y-label"></span><span
                                                            class="apexcharts-tooltip-text-y-value"></span></div>
                                                    <div class="apexcharts-tooltip-goals-group"><span
                                                            class="apexcharts-tooltip-text-goals-label"></span><span
                                                            class="apexcharts-tooltip-text-goals-value"></span></div>
                                                    <div class="apexcharts-tooltip-z-group"><span
                                                            class="apexcharts-tooltip-text-z-label"></span><span
                                                            class="apexcharts-tooltip-text-z-value"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button type="button" class="btn btn-primary w-100">Apply Now</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
    <!-- container-fluid -->
</div>