.page-title-box {
  padding: 1.2rem 0;
  background-color: transparent!important;
  border-bottom: none;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
.chart-container{
  padding: 16px;
  text-align: center;
  h5{
    line-height: 3;

}}