<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Roles </h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Roles</a></li>
                   
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row">
            <div class="col-12">
                <div id="job-list">
                    <div *ngFor="let role of rolesList;let i=index" class="card joblist-card">
                        <div class="card-body">
                            <div class="d-flex mb-4">
                                <div class="avatar-sm">
                                    <div class="avatar-title bg-light rounded"> <img
                                            src="assets/images/companies/img-6.png" alt=""
                                            class="avatar-xxs companyLogo-img"> </div>
                                </div>
                                <div class="ms-3 flex-grow-1"> <img src="assets/images/small/img-3.jpg" alt=""
                                        class="d-none cover-img">
                                    <h5 class="job-title">{{role.display}}</h5>

                                    <p class="company-name text-muted mb-0">Role for {{role.display}}</p>
                                </div>
                            </div>
                            <p class="text-muted job-description">{{role.display}} is the tenant who will subscribe
                                himself/herself to do the professional job</p>
                            <div>
                            </div>
                        </div>
                        <div>
                            <div class="accordion custom-accordionwithicon accordion-fill-primary" id="accordionFill2">
                                <!-- //     [attr.data-bs-target]="'##accor_fill3' + i" data-bs-target="#accor_fill3"-->
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="accordionFillExample2">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" [attr.data-bs-target]="'#accor_fill3' + i"
                                            aria-expanded="false" aria-controls="accor_fill30">
                                            <div><i class="ri-user-3-line align-bottom me-1"></i>{{numberActivePrevilege(role.listOfPrivilege)}} Privileges</div>
                                        </button>
                                    </h2>
                                    <div id="accor_fill3{{i}}" class="accordion-collapse collapse"
                                        aria-labelledby="accordionFillExample2" data-bs-parent="#accordionFill2">
                                        <div class="accordion-body">

                                      

                                            <div class="row">
                                                <div class="col-9">         <label for="basiInput" class="form-label">Assign Privileges
                                                    <br>Role Admin Has Following Privileges Assain.Edit Privileges If You
                                                    Want To Overright Admin Privileges This User
                                                </label></div>
                                       
                                                <div class="col-3 text-end">
                                                    <button ngClass="font-size:;" *ngIf="editButton==false" (click)="editUser();"
                                                        class="btn btn-primary fontsize ">Edit</button>
                                                    <button *ngIf="editButton==true" (click)="editfalse();"
                                                        class="btn btn-danger fontsize">Cancel</button>
                                                </div>
                                            </div>
                                            <div *ngIf="editButton==false">
                                                <div *ngFor="let item of role.listOfPrivilege">
                                                    <span *ngIf="!item.active">
                                                        <i  class="inactive mdi mdi-close-circle-outline m-2" ></i>
                                                        <label class="form-check-label" for="customSwitchsizelg">{{capitalizeString(item.name)}}</label>    
                                                    </span>
                                                    <span *ngIf="item.active">
                                                        <i  class="active mdi mdi-check-circle-outline m-2"></i>
                                                        <label class="form-check-label" for="customSwitchsizelg">{{capitalizeString(item.name)}}</label>    
                                                    </span>
                                                </div>
                                    

                                            </div>

                                            <div *ngIf="editButton==true">
                                                <div *ngFor="let item of  role.listOfPrivilege" class="form-check form-switch form-switch-lg form-switch-primary"
                                                    dir="ltr">
                                                    <input type="checkbox" class="form-check-input"
                                                        id="customSwitchsizelg"  value="{{item.id}}" [(ngModel)]="item.active" name="{{item.id}}"
                                                         [checked]="item.active ? 'checked' : ''" >
                                                    <label class="form-check-label" for="customSwitchsizelg">{{item.name}}</label>
                                                </div>
                                        
                                            </div>
                                            <div class="row" *ngIf="editButton">
                                                <div class="col-md-12  text-end">
                                                    <button type="button" (click)="editButton=false" class="btn btn-danger">Cancel</button>
                                                    <button type="submit" (click)="updatePriviligs(role)" class="btn btn-primary"
                                                        style="margin-left: 5px;">Save</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--end col-->

            </div><!-- container-fluid -->
        </div>