.nav-success.nav-tabs-custom .nav-link.active {
    color: #6691e7 !important;
    
}


.nav-success.nav-tabs-custom .nav-link.active::after {

    color: #6691e7 !important;

}
.no-border{
    border: none;
    font-size: medium;
    padding: 0 !important;
    margin: 0 !important;
    margin-right: 5px !important;
}