<div class="page-content">
    <div class="">
        <div class="row">
            <div class="col">
                <div class="h-100">
                    <div class="row mb-3 pb-1">
                        <div class="col-12">
                            <div
                                class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center">
                                <div class="bg-overlay"></div>
                                <!-- auth-page content -->
                                <div class="auth-page-content overflow-hidden">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card overflow-hidden m-0 card-bg-fill galaxy-border-none">
                                                    <div class="row justify-content-center g-0">
                                                        <div class="col-lg-4">
                                                            <div class="p-lg-5 p-4 auth-one-bg h-100">
                                                                <div class="bg-overlay"></div>
                                                                <div class="position-relative h-100 d-flex flex-column">
                                                                    <div class="mb-4">
                                                                        <h3 class="text-success" style=" line-height: 3;
                                                                        font-weight: bolder;">TRAVEL</h3>
                                                                    </div>
                                                                    <div class="mt-auto">
                                                                        <div class="mb-3">
                                                                            <i
                                                                                class="ri-double-quotes-l display-4 text-success"></i>
                                                                        </div>

                                                                        <div id="qoutescarouselIndicators"
                                                                            class="carousel slide"
                                                                            data-bs-ride="carousel">
                                                                            <div class="carousel-indicators">
                                                                                <button type="button"
                                                                                    data-bs-target="#qoutescarouselIndicators"
                                                                                    data-bs-slide-to="0" class="active"
                                                                                    aria-label="Slide 1"
                                                                                    aria-current="true"></button>
                                                                                <button type="button"
                                                                                    data-bs-target="#qoutescarouselIndicators"
                                                                                    data-bs-slide-to="1"
                                                                                    aria-label="Slide 2"
                                                                                    class=""></button>
                                                                                <button type="button"
                                                                                    data-bs-target="#qoutescarouselIndicators"
                                                                                    data-bs-slide-to="2"
                                                                                    aria-label="Slide 3"
                                                                                    class=""></button>
                                                                            </div>
                                                                            <div
                                                                                class="carousel-inner text-center text-white-50 pb-5">
                                                                                <div class="carousel-item active">
                                                                                    <p class="fs-15 fst-italic">" Great!
                                                                                        Clean code, clean design, easy
                                                                                        for customization. Thanks very
                                                                                        much! "</p>
                                                                                </div>
                                                                                <div class="carousel-item">
                                                                                    <p class="fs-15 fst-italic">" The
                                                                                        theme is really great with an
                                                                                        amazing customer support."</p>
                                                                                </div>
                                                                                <div class="carousel-item">
                                                                                    <p class="fs-15 fst-italic">" Great!
                                                                                        Clean code, clean design, easy
                                                                                        for customization. Thanks very
                                                                                        much! "</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- end carousel -->

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-8">
                                                            <div class="card">
                                                                <div class="card-header align-items-center d-flex">
                                                                    <h5 class="text-primary">DESTINATIONS</h5>

                                                                </div><!-- end card header -->

                                                                <div class="card-body">
                                                                    <p class="text-muted">
                                                                        Enter the cities in the order in which they
                                                                        be
                                                                        verified for the itinerary
                                                                    </p>

                                                                    <div class="live-preview">
                                                                        <form [formGroup]="tripDetailsForm" class="row g-3 needs-validation"
                                                                            novalidate="" (ngSubmit)="submitForm()">
                                                                            <div formArrayName="cities" class="col-md-12">
                                                                                <div *ngFor="let city of cities.controls; let i = index" [formGroupName]="i" class="row align-items-center">
                                                                                  <div class="col-md-6">
                                                                                    <input
                                                                                      type="text"
                                                                                      formControlName="cityName"
                                                                                      class="form-control rounded-end flag-input mb-3"
                                                                                      placeholder="Select City"
                                                                                    />
                                                                                  </div>
                                                                                  <div class="col-md-4">
                                                                                    <select
                                                                                      formControlName="numberOfNights"
                                                                                      class="form-select mb-3"
                                                                                      aria-label="Default select example"
                                                                                    >
                                                                                      <option *ngFor="let data of numberOfNightList" [value]="data.id">{{ data.label }}</option>
                                                                                    </select>
                                                                                  </div>
                                                                                  <div class="col-md-2">
                                                                                    <button type="button" class="btn btn-danger mb-3" (click)="removeCity(i)">Delete</button>
                                                                                  </div>
                                                                                </div>
                                                                                <div class="col-12" *ngIf="cities.length < 15">
                                                                                  <a class="text-primary" style="cursor: pointer;" (click)="addCity()">+ Add Another City</a>
                                                                                </div>
                                                                              </div>
                                                                            <div class="col-md-12">
                                                                                <h5 class="text-primary">TRIP DETAILS
                                                                                </h5>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="validationDefault01"
                                                                                    class="form-label">Leaving
                                                                                    From</label>
                                                                                <input type="date" class="form-control"
                                                                                    id="validationDefault01"
                                                                                    value="Mark" required="">
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="validationDefault01"
                                                                                    class="form-label">Nationality</label>
                                                                                <div data-input-flag=""
                                                                                    data-option-flag-img-name="">
                                                                                    <input type="text"
                                                                                        class="form-control rounded-end flag-input flag-inputs"
                                                                                        readonly="" value="India"
                                                                                        disabled
                                                                                        placeholder="Select country"
                                                                                        data-bs-toggle="dropdown"
                                                                                        aria-expanded="false">
                                                                                    <div class="dropdown-menu w-100">
                                                                                        <ul
                                                                                            class="list-unstyled dropdown-menu-list mb-0">
                                                                                            <li
                                                                                                class="dropdown-item d-flex active">
                                                                                                <div
                                                                                                    class="flex-shrink-0 me-2">
                                                                                                    <img src="assets/images/flags/in.svg"
                                                                                                        alt="country flag"
                                                                                                        class="options-flagimg"
                                                                                                        height="20">
                                                                                                </div>
                                                                                                <div
                                                                                                    class="flex-grow-1">
                                                                                                    <div class="d-flex">
                                                                                                        <div
                                                                                                            class="country-name me-1">
                                                                                                            India</div>
                                                                                                        <span
                                                                                                            class="countrylist-codeno text-muted">+91</span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-md-6">
                                                                                <div class="mb-3">
                                                                                    <label for="JoiningdatInput"
                                                                                        class="form-label">Joining
                                                                                        Date</label>
                                                                                    <input type="text"
                                                                                        class="form-control flatpickr-input"
                                                                                        data-provider="flatpickr"
                                                                                        id="JoiningdatInput"
                                                                                        data-date-format="d M, Y"
                                                                                        data-deafult-date="24 Nov, 2021"
                                                                                        placeholder="Select date"
                                                                                        readonly="readonly">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="JoiningdatInput"
                                                                                    class="form-label">Number of
                                                                                    Travelers</label>
                                                                                    <input type="text" appNumberOnly maxlength="2"
                                                                                    class="form-control rounded-end flag-input mb-3"
                                                                                    placeholder="Enter number of Travelers"/>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="JoiningdatInput"
                                                                                    class="form-label">Interests</label>
                                                                                <select class="form-select mb-3"
                                                                                    aria-label="Default select example">
                                                                                    <option value="">
                                                                                        Family Trips
                                                                                    </option>
                                                                                    <option value="">Friends Trips</option>
                                                                                    <option value="">Couple’s Getaway</option>
                                                                                    <option value="">Solo Travel</option>
                                                                                    <option value="">Group Tours</option>
                                                                                    <option value="">School or College Trips</option>
                                                                                    <option value="">Corporate Trips</option>
                                                                                    <option value="">Reunion Trips</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="JoiningdatInput"
                                                                                    class="form-label">Who is Traveling</label>
                                                                                    <input type="text" appNumberOnly maxlength="2"
                                                                                    class="form-control rounded-end flag-input mb-3"
                                                                                    placeholder="Enter number of Travelers"/>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="JoiningdatInput"
                                                                                    class="form-label">Star rating</label>
                                                                                <select class="form-select mb-3"
                                                                                    aria-label="Default select example">
                                                                                    <option value="">Select
                                                                                        Star
                                                                                    </option>
                                                                                   <option value="">2-Star</option>
                                                                                   <option value="">3-Star</option>
                                                                                   <option value="">4-Star</option>
                                                                                   <option value="">5-Star</option>
                                                                                </select>
                                                                            </div>
                                                                            <!-- <div class="col-md-6">
                                                                                <div class="form-check mt-1">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="auth-remember-check">
                                                                                    <label class="form-check-label" for="auth-remember-check">Add Transfers</label>
                                                                                </div>
                                                                                <div class="form-check mt-2">
                                                                                    <input class="form-check-input" type="checkbox" value="" id="auth-remember-check">
                                                                                    <label class="form-check-label" for="auth-remember-check">Land Only (no stay required)</label>
                                                                                </div>
                                                                            </div> -->
                                                                            
                                                                            <div class="col-md-12">
                                                                                    <div class="row">
                                                                                        <div class="col-md-4">
                                                                                            <button class="btn btn-primary w-100"
                                                                                            type="submit">Countinue</button>
                                                                                        </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end card -->
                                            </div>
                                            <!-- end col -->

                                        </div>
                                        <!-- end row -->
                                    </div>
                                    <!-- end container -->
                                </div>
                                <!-- end auth page content -->

                                <!-- footer -->
                                <!-- <footer class="footer galaxy-border-none">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <p class="mb-0">©
                                                        <script>document.write(new Date().getFullYear())</script>2025
                                                        Velzon. Crafted with <i class="mdi mdi-heart text-danger"></i>
                                                        by Themesbrand
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </footer> -->
                                <!-- end Footer -->
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                </div> <!-- .col-->
            </div> <!-- end row-->
        </div>
    </div>
</div>
<!--  first-row-end -->