.s-card-height {
    height: 150px;
}

;

.modified-list {

    border: 1px solid white;
    border-collapse: collapse;
    text-align: center
}

;

.theade {

    border-left: 4px solid white;
}

;

.flag-inputs {
    background-image: url('/assets/images/flags/in.svg') !important;
}

.text-danger {
    font-size: 12px;
}