<div class="page-content">
    <div class="">
        <div class="row">
            <div class="col">
                <div class="h-100">
                    <div class="row mb-3 pb-1">
                        <div class="col-12">
                            <div
                                class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center">
                                <div class="bg-overlay"></div>
                                <!-- auth-page content -->
                                <div class="auth-page-content overflow-hidden">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card overflow-hidden m-0 card-bg-fill galaxy-border-none">
                                                    <div class="row justify-content-center g-0">
                                                        <div class="col-lg-5">
                                                            <div class="p-lg-5 p-4 auth-one-bg h-100">
                                                                <div class="bg-overlay"></div>
                                                                <div class="position-relative h-100 d-flex flex-column">
                                                                    <div class="mb-4">
                                                                        <h3 class="text-success" style=" line-height: 3;
                                                                        font-weight: bolder;">TRAVEL</h3>
                                                                    </div>
                                                                    <div class="mt-auto">
                                                                        <div class="mb-3">
                                                                            <i
                                                                                class="ri-double-quotes-l display-4 text-success"></i>
                                                                        </div>

                                                                        <div id="qoutescarouselIndicators"
                                                                            class="carousel slide"
                                                                            data-bs-ride="carousel">
                                                                            <div class="carousel-indicators">
                                                                                <button type="button"
                                                                                    data-bs-target="#qoutescarouselIndicators"
                                                                                    data-bs-slide-to="0" class="active"
                                                                                    aria-label="Slide 1"
                                                                                    aria-current="true"></button>
                                                                                <button type="button"
                                                                                    data-bs-target="#qoutescarouselIndicators"
                                                                                    data-bs-slide-to="1"
                                                                                    aria-label="Slide 2"
                                                                                    class=""></button>
                                                                                <button type="button"
                                                                                    data-bs-target="#qoutescarouselIndicators"
                                                                                    data-bs-slide-to="2"
                                                                                    aria-label="Slide 3"
                                                                                    class=""></button>
                                                                            </div>
                                                                            <div
                                                                                class="carousel-inner text-center text-white-50 pb-5">
                                                                                <div class="carousel-item active">
                                                                                    <p class="fs-15 fst-italic">" Great!
                                                                                        Clean code, clean design, easy
                                                                                        for customization. Thanks very
                                                                                        much! "</p>
                                                                                </div>
                                                                                <div class="carousel-item">
                                                                                    <p class="fs-15 fst-italic">" The
                                                                                        theme is really great with an
                                                                                        amazing customer support."</p>
                                                                                </div>
                                                                                <div class="carousel-item">
                                                                                    <p class="fs-15 fst-italic">" Great!
                                                                                        Clean code, clean design, easy
                                                                                        for customization. Thanks very
                                                                                        much! "</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- end carousel -->

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-7">
                                                            <div class="p-lg-5 p-4">
                                                                <div>
                                                                    <h5 class="text-primary">DESTINATIONS</h5>
                                                                    <p class="text-muted">
                                                                        Enter the cities in the order in which they be
                                                                        verified for the itinerary
                                                                    </p>
                                                                </div>

                                                                <div class="row g-3">
                                                                    <div class="col-lg-6">
                                                                        <div class="mt-3">
                                                                            <div data-input-flag=""
                                                                                data-option-flag-img-name="">
                                                                                <input type="text"
                                                                                    class="form-control rounded-end flag-input"
                                                                                    readonly="" value="India" disabled
                                                                                    placeholder="Select country"
                                                                                    data-bs-toggle="dropdown"
                                                                                    aria-expanded="false">
                                                                                <div class="dropdown-menu w-100">
                                                                                    <ul
                                                                                    class="list-unstyled dropdown-menu-list mb-0">
                                                                                <li
                                                                                class="dropdown-item d-flex active">
                                                                                <div
                                                                                    class="flex-shrink-0 me-2">
                                                                                    <img src="assets/images/flags/in.svg"
                                                                                        alt="country flag"
                                                                                        class="options-flagimg"
                                                                                        height="20">
                                                                                </div>
                                                                                <div class="flex-grow-1">
                                                                                    <div class="d-flex">
                                                                                        <div
                                                                                            class="country-name me-1">
                                                                                            India</div><span
                                                                                            class="countrylist-codeno text-muted">+91</span>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                                   </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end card -->
                                            </div>
                                            <!-- end col -->

                                        </div>
                                        <!-- end row -->
                                    </div>
                                    <!-- end container -->
                                </div>
                                <!-- end auth page content -->

                                <!-- footer -->
                                <!-- <footer class="footer galaxy-border-none">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <p class="mb-0">©
                                                        <script>document.write(new Date().getFullYear())</script>2025
                                                        Velzon. Crafted with <i class="mdi mdi-heart text-danger"></i>
                                                        by Themesbrand
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </footer> -->
                                <!-- end Footer -->
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                </div> <!-- .col-->
            </div> <!-- end row-->
        </div>
    </div>
</div>
<!--  first-row-end -->