.card{
    padding: 2rem;
}
// .dialog{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     margin-top: 40px;
//     }
.dilogClose{

float:right;
z-index: 1;

    }