<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="h-100">
                    <div class="row mb-3 pb-1">
                        <div class="col-12">
                            <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                <div class="flex-grow-1">
                                    <h4 class="fs-16 mb-1">SUPPLIER WISE RECON</h4>
                                </div>
                                <div class="mt-3 mt-lg-0">
                                    <div class="row g-3 mb-0 align-items-center">
                                        <!--end col-->
                                        <div class="col-auto">
                                            <!-- Dropdown Variant -->
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">Month</button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item">
                                                        January</a>
                                                    <a class="dropdown-item">February</a>
                                                    <a class="dropdown-item">March</a>
                                                    <a class="dropdown-item">April</a>
                                                    <a class="dropdown-item">May</a>
                                                    <a class="dropdown-item">June</a>
                                                    <a class="dropdown-item">July</a>
                                                    <a class="dropdown-item">August</a>
                                                    <a class="dropdown-item">September</a>
                                                    <a class="dropdown-item">October</a>
                                                    <a class="dropdown-item">November</a>
                                                    <a class="dropdown-item">December</a>
                                                </div>
                                            </div><!-- /btn-group -->
                                        </div>
                                        <!--end col-->
                                        <div *ngIf="hideClient==false" class="col-auto">
                                            <!-- Dropdown Variant -->
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">Client</button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item">Jhon</a>
                                                    <a class="dropdown-item">Michael</a>
                                                    <a class="dropdown-item">veron</a>
                                                </div>
                                            </div><!-- /btn-group -->
                                        </div>
                                        <!--end col-->
                                        <div class="col-auto">
                                            <!-- Dropdown Variant -->
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle"
                                                    data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">Recon</button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item">Jhon</a>
                                                    <a class="dropdown-item">Michael</a>
                                                    <a class="dropdown-item">veron</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item">Separated link</a>
                                                </div>
                                            </div><!-- /btn-group -->
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                            </div><!-- end card header -->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                    <!--end row-->
                    <div class="row">
                        <div class=" col-xl-3">

                            <div class="card card-animate">
                                <div class="s-card-height card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <p class=" badge bg-primary  text-uppercase  text-truncate mb-0">
                                                <b>ITC</b>
                                            </p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <h5 class="text-success fs-14 mb-0">

                                            </h5>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between mt-4">
                                        <div>
                                            <h4 class=" fs-29  mb-4"><span class="  counter-value">
                                                    Count: <br> {{response?.itcCounts}}</span> </h4>

                                        </div>
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title table-light rounded fs-2">
                                                <i class="bx "><img src="assets/images/svg/crypto-icons/cix.svg"> </i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!--  -->
                        </div><!-- end col -->
                        <div class=" col-xl-3">

                            <div class="card card-animate">
                                <div class="s-card-height card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <p class=" badge bg-primary  text-uppercase  text-truncate mb-0">
                                                <b>GSTR2B</b>
                                            </p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <h5 class="text-success fs-14 mb-0">

                                            </h5>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-end justify-content-between mt-4">
                                        <div>
                                            <h4 class=" fs-29  mb-4"><span class="counter-value" data-target="183.35">
                                                    Count: <br> {{response?.gstr2bCount}}</span> </h4>

                                        </div>
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-primary rounded fs-2">
                                                <i class="bx "><img src="assets/images/svg/crypto-icons/cix.svg"> </i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!--  -->
                        </div><!-- end col -->
                        <div class=" col-xl-3">
                            <!-- card -->
                            <div class="card card-animate">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <p class=" badge bg-primary  text-uppercase  text-truncate mb-0">
                                                <b>ITC</b>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="d-flex align-items-end justify-content-between mt-4">
                                        <div>
                                            <h4 class=" fs-29  mb-4"><span class="counter-value" data-target="183.35">

                                                    Amount: <br> {{response?.itcAmount}}</span> </h4>

                                        </div>
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title table-light rounded fs-2">
                                                <i class="bx "> &#8377;</i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!--  -->
                        </div>
                        <div class=" col-xl-3">
                            <!-- card -->

                            <div class="card card-animate">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 overflow-hidden">
                                            <p class=" badge bg-primary  text-uppercase  text-truncate mb-0">
                                                <b>GSTR2B</b>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="d-flex align-items-end justify-content-between mt-4">
                                        <div>
                                            <h4 class=" fs-29  mb-4"><span class="counter-value" data-target="183.35">
                                                    Amount:<br> {{response?.pendingRecons}}</span> </h4>

                                        </div>
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-primary rounded fs-2">
                                                <i class="bx "> &#8377;</i>
                                            </span>
                                        </div>
                                    </div>
                                </div><!-- end card body -->
                            </div><!--  -->
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-xl-6">
                            <!-- card -->
                            <div class="card card-animate">
                                <div class="card-body">
                                    <canvas height="220px" id="doughnut"></canvas>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->
                        <div class=" col-xl-6">
                            <!-- card -->
                            <div class="card card-animate">
                                <div class="card-body">
                                    <canvas height="220px" id="doughnut2"></canvas>
                                </div><!-- end card body -->
                            </div><!-- end card -->
                        </div><!-- end col -->
                    </div>



                    <div class="row">
                        <div class="col-xl-6">
                            <app-simple-table [title]="'ITC - Last Month Pending Reconciled'" [reportBy]="true" [dataList]="response?.itcPendingRecons" [headers]="itcPendingReconsHeader"></app-simple-table>
                        </div> <!-- .card-->



                        <div class="col-xl-6">
                            <app-simple-table [title]="'GSTR2B - Last Month Pending Reconciled'" [reportBy]="true" [dataList]="response?.gstr2bPendingRecons" [headers]="itcPendingReconsHeader"></app-simple-table>
                        </div> <!-- .card-->
                    </div><!--row end-->
                </div> <!-- .col-->
            </div>
        </div>
    </div> <!--  first-row-end -->
</div>