.modified-list{
    border-radius: 15px;   
    border: 15px solid white;
    border-collapse: collapse;
    text-align: center
};
.theade{

   border-left: 15px solid white;
};
.theade2{
    border-right: 15px solid white;
    
}