/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/config/saas/bootstrap.scss";
@import "./assets/scss/config/saas/app.scss";
@import "./assets/scss/icons.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";
// regular style toast
@import 'ngx-toastr/toastr';


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border: 1px solid #ced4da !important;
    border-radius: 5px;
}

.custom-date-picker {
    height: 56px;
    display: flex;
    align-items: center;
}

.custom-date-picker .mat-form-field-wrapper {
    padding-bottom: 0;
    height: 100%;
}

.custom-date-picker input {
    height: 100%;
    line-height: 56px;
    /* Aligns text within the input */
}

.custom-date-picker .mat-datepicker-toggle {
    height: 100%;
}

.custom-date-picker .mat-datepicker-toggle img {
    max-height: 28px;
}

.custom-date-picker {
    height: 58px;
    display: flex;
    align-items: center;
}

.custom-date-picker .mat-form-field-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
}

.custom-date-picker input {
    height: 100%;
    line-height: 1.5;
}

.custom-date-picker .mat-datepicker-toggle {
    height: 100%;
    display: flex;
    align-items: center;
}

.custom-date-picker .mat-datepicker-toggle img {
    height: 24px;
    margin: 0;
}

.mdc-line-ripple::before {
    border: none !important;
}

.mdc-line-ripple {
    border: none !important;
}

.mdc-text-field--filled .mdc-line-ripple::after {
    border: none !important;
}

.mat-mdc-form-field-focus-overlay {
    background: none !important;
}

.mat-mdc-form-field-flex {
    margin-top: -3px !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 10px !important;
}
.mat-mdc-icon-button svg { 

    margin-top: -13px !important;

}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
background : none; 
}

.mat-mdc-select-placeholder {
    color: #212529;
  //  padding: 0.5rem 0.9rem;
    font-size: 0.825rem;
    font-weight: 400;
    line-height: 1.5;
}

.mat-mdc-select-value-text {
    color: #212529;
   // padding: 0.5rem 0.9rem;
    font-size: 0.825rem;
    font-weight: 400;
    line-height: 1.5;
}

.mat-mdc-option .mdc-list-item__primary-text {
    color: #212529;
    //padding: 0.5rem 0.9rem;
    font-size: 0.825rem !important;
    font-weight: 400;
    line-height: 1.5;
}