/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/config/saas/bootstrap.scss";
@import "./assets/scss/config/saas/app.scss";
@import "./assets/scss/icons.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";
// regular style toast
@import 'ngx-toastr/toastr';


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}